[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
pandas = "*"
requests-html = "*"
nodejs = "*"
homebrew = "*"
tor = "*"
stem = "*"
fake-useragent = "*"
python-csv = "*"
flask = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
